{:server {:port 3000}
  :database {:name "dexcom-dev"}
  :ragtime {}
  :dexcom {:client-secret "sdqQ5bznVsoApV7K"
           :client-id "lKsv0BUU4wDY3o3Ql3j6Y91Fse3YvP0o"
           :redirect-uri "https://diabetes-stage.tgdev.xyz/redirect"
           :login-endpoint "https://api.dexcom.com/v2/oauth2/login"
           :oauth-endpoint "https://api.dexcom.com/v2/oauth2/token"
           :blood-sugar-endpoint "https://api.dexcom.com/v2/users/self/egvs"
           :calibrations-endpoint "https://api.dexcom.com/v2/users/self/calibrations"}}

           
