{:up ["CREATE TABLE blood_sugars (system_time DATE PRIMARY KEY NOT NULL, 
      display_time DATE, 
      value INTEGER, 
      realtime_value INTEGER,
      smoothed_value INTEGER,
      status TEXT,
      trend TEXT,
      trend_rate REAL)"]
 :down ["DROP TABLE blood_sugars"]}
